
<h1>Enter the text you would like start with.</h1>

<form action='/title'>
  <div class="form-group">
    <label for="text">Starting text block:</label>
    <input id="text" name="text" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="string_find">String to find:</label>
    <input id="string_find" name="string_find" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="replacement">Replace with:</label>
    <input id="replacement" name="replacement" class="form-control" type="text">
  </div>
  <label class="radio-inline"><input type="radio" name="optradio">Whole word search</label>
  <label class="radio-inline"><input type="radio" name="optradio">Sub-string search</label>


  <button type="submit" class="btn-success">Send</button>
</form>
